.card {
  width: 375px; /* Fixed width */
  height: 440px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem;
}

@media (max-width: 767px) {
  .card {
    width: 100%; /* Full width on mobile */
  }
}

